{% extends "base.html" %} {% load markdown_extras %} {% block content %} {% load static %}
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 single-content">
        {% if article.image %}
          <p class="mb-5"> <img src="{{ article.image.url }}" alt="トップ画像" class="img-fluid"> </p>
        {% endif %}
        <h1 class="mb-4"> {{ article.title }} </h1>
        <div class="post-meta d-flex mb-5">
          <div class="bio-pic mr-3">
            {% if article.user.image %}
              <img src="{{ article.user.image.url }}" alt="Image" class="img-fluidid">
            {% endif %}
          </div>
          <div class="vcard"> <span class="d-block"><a href="{% url 'user:profile' article.user.id %}">{{ article.user.username }}</a></span> <span class="date-read">{{ article.updated_at | date }}<span class="mx-1">&bullet;</span> {{ article.cooking_time }} min read </span>
          </div>
        </div>
        {% if article.overview %}
          <div class="overview">
            <p>{{ article.overview }}</p>
          </div>
        {% endif %}
        {{ article.body | markdown | safe }}
        <button id="like-button" class="btn btn-primary like btn-block {% if is_liked %}active{% endif %}" data-href="{% url 'recipe:ajax_like_article' article.pk %}">
          いいね！ <span class="icon green icon-thumb_up"></span>
        </button>
        <div class="pt-5">
          <p>
            カテゴリー: <a href="{% url 'recipe:category' article.category.id %}">{{article.category}}</a>
            タグ:
            {% for tag in article.tag.names %}
              {{tag}}
              {% if not forloop.last %} , {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
