.main-panel {
  position: static;
  float: none;
  width: 100vw;
  min-height: 100%
}

.main-panel > .content {
  margin-top: 30px
}

.btn-edit {
  color: white !important
}

.footer {
  margin-top: auto
}

/* markdown field style */
.markdownx-field {
  min-height: 80px;
  max-height: none !important
}

.markdownx table {
    border-collapse: collapse;
    border: 1px solid #CCC;
    margin-bottom: 30px
}

.markdownx th, .markdownx td {
    border: solid 2px;
    border: 1px solid #ccc;
    padding: 8px
}

.markdownx th {
  background: #eee
}

.detail_field {
    margin-right: 70%;
}